# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
terraform.tfvars
*.auto.tfvars
.scaler_oci_config.json
.scaler_oci_hpc.env

# OS
.DS_Store
Thumbs.db
